# Copyright (c) 2020 Freie Universitaet Berlin
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.
#
menuconfig KCONFIG_USEMODULE_LORA
    bool "Configure LoRa PHY"
    depends on USEMODULE_LORA
    help
        Configure LoRa PHY using Kconfig.

if KCONFIG_USEMODULE_LORA

config LORA_PREAMBLE_LENGTH_DEFAULT
    int "Preamble length"
    range 8 65537
    default 8
    help
        Configure preamble used in LoRa frame. Each LoRa frame begins with a
        preamble. It starts with a series of upchirps to cover the whole
        frequency band of the particular channel assigned. The last two upchirps
        encode the sync word. Sync word is used to differntiate between LoRa
        transmissions that use the same frequency bands. The sync word is
        followed by two and a quarter downchirps, for a duration of 2.25
        symbols. The total duration of this preamble can be configured between
        10.25 and 65,539.25 symbol hence the range 8 to 65537.

config LORA_SYMBOL_TIMEOUT_DEFAULT
    int "Timeout for symbols in seconds"
    default 10

choice
    bool "Channel bandwidth"
    default LORA_BW_DEFAULT_125
    help
        Configure the channel bandwidth. Refer to country specific regulations
        on channel usage to identify the correct bandwidth. If LoRaWAN MAC is
        being used, refer to "LoRaWAN Regional Parameters" by LoRa Alliance for
        more information.

config LORA_BW_DEFAULT_125
    bool "125kHz"

config LORA_BW_DEFAULT_250
    bool "250kHz"

config LORA_BW_DEFAULT_500
    bool "500kHz"

endchoice

choice
    bool "Spreading factor"
    default LORA_SF_DEFAULT_SF7
    help
        Configure Spreading Factor (SF). SF denotes the amount of spreading code
        applied to the original data signal. A larger SF increases the time on
        air, which increases energy consumption, reduces the data rate, and
        improves communication range. Each step up in spreading factor
        effectively doubles the time on air to transmit the same amount of data.
        Refer to country specific air time usage regulations before varying the
        SF. To calculate air time,in the case of LoRa, refer
        https://www.loratools.nl/#/airtime . If LoRaWAN is being used refer
        https://avbentem.github.io/airtime-calculator/ttn/eu868/12,12

config LORA_SF_DEFAULT_SF6
    bool "SF6"

config LORA_SF_DEFAULT_SF7
    bool "SF7"

config LORA_SF_DEFAULT_SF8
    bool "SF8"

config LORA_SF_DEFAULT_SF9
    bool "SF9"

config LORA_SF_DEFAULT_SF10
    bool "SF10"

config LORA_SF_DEFAULT_SF11
    bool "SF11"

config LORA_SF_DEFAULT_SF12
    bool "SF12"

endchoice

choice
    bool "Coding rate"
    default LORA_CR_DEFAULT_CR_4_5
    help
        Configure Coding rate (CR). CR denotes the implementation of forward
        error correction (FEC). This may be done by encoding 4-bit data with
        redundancies into 5-bit, 6-bit, 7-bit, or 8-bit. Coding Rate (CR) value
        need to be adjusted according to conditions of the channel used for data
        transmission. If there are too many interferences in the channel, then
        it’s recommended to increase the value of CR. However, the rise in CR
        value will also increase the duration for the transmission. Refer to
        country specific air time usage regulations before varying the CR. To
        calculate air time,in the case of LoRa, refer
        https://www.loratools.nl/#/airtime . If LoRaWAN MAC is being used, refer
        to "LoRaWAN Regional Parameters" by LoRa Alliance for more information.

config LORA_CR_DEFAULT_CR_4_5
    bool "CR 4/5"

config LORA_CR_DEFAULT_CR_4_6
    bool "CR 4/6"

config LORA_CR_DEFAULT_CR_4_7
    bool "CR 4/7"

config LORA_CR_DEFAULT_CR_4_8
    bool "CR 4/8"

endchoice

config LORA_IQ_INVERTED_DEFAULT
    bool "Enable inverted I/Q mode"
    help
        Enable Inverted I/Q while sending LoRa frames. Inverted I/Q allows
        differentiating sender and receiver messages. In the case of LoRaWAN,
        gateways receive messages with Inverted I/Q off and send messages with
        Inverted I/Q on. Nodes read messages with Inverted I/Q on and send
        messages with Inverted I/Q off. Set this to on if the device is to be
        used as a gateway.

config LORA_FREQUENCY_HOPPING_DEFAULT
    bool "Enable Frequency hopping spread spectrum (FHSS)"
    help
        Enabling Frequency hopping spread spectrum (FHSS) would imply that a
        portion of each LoRa packet is transmitted on each hopping channel from
        a look up table of frequencies managed by the host microcontroller.

config LORA_FREQUENCY_HOPPING_PERIOD_DEFAULT
    int "Frequency hopping period"
    default 0
    depends on LORA_FREQUENCY_HOPPING_DEFAULT
    help
        Configure the hopping period, time which each transmission will dwell in
        any given channel.

config LORA_FIXED_HEADER_LEN_MODE_DEFAULT
    bool "Enable fixed header length mode (implicit header)"
    help
        Enable fixed header length mode ( implicit header) to discard PHY header
        (PHDR). The mode is typically used in LoRaWAN beacons.

config LORA_PAYLOAD_CRC_OFF_DEFAULT
    bool "Disable payload CRC"

config LORA_PAYLOAD_LENGTH_DEFAULT
    int "Payload Length"
    default 0
    depends on !LORA_FIXED_HEADER_LEN_MODE_DEFAULT
    help
        Configure the length of payload. The option is disabled while using
        implicit header mode.

endif # KCONFIG_USEMODULE_LORA
